doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/style2.css")
    body 
        include modules/header
    .container
        h2 Парфюмерия
        .tovar
            .tovar_block
                .tovar_block--elem
                    img(src="img/popular_products_3.jpg", alt="")
                    p.tovar_block--elem-text Парфюмерная вода Tom <br> Ford Lost Cherry 30 мл
                    p.tovar_block--elem-summa 17.990 руб.
                    button Купить
            .tovar_block
                .tovar_block--elem
                    img(src="img/perfumery_2.png" alt="")
                    p.tovar_block--elem-text Парфюмерная Essential Parfums <br> Bois Imperial 100 мл
                    p.tovar_block--elem-summa 14.960 руб.
                    button Купить
            .tovar_block
                .tovar_block--elem
                    img(src="img/perfumery_3.png", alt="")
                    p.tovar_block--elem-text Парфюмерная вода By Kilian Good Girl <br> Gone Bad 50 мл
                    p.tovar_block--elem-summa 19.990 руб.
                    button Купить
            .tovar_block
                .tovar_block--elem
                    img(src="img/perfumery_4.png", alt="")
                    p.tovar_block--elem-text Парфюмерная вода BYREDO <br> Bal d`Afrique 50 мл
                    p.tovar_block--elem-summa 16.550 руб.
                    button Купить   
            .tovar_block
                .tovar_block--elem
                    img(src="img/popular_products_4.jpg", alt="")
                    p.tovar_block--elem-text Парфюмерная вода Chloe Eau De <br> Parfum 50 мл
                    p.tovar_block--elem-summa 13.890 руб.
                    button Купить 
            .tovar_block
                .tovar_block--elem
                    img(src="img/perfumery_5.png",  alt="")
                    p.tovar_block--elem-text Парфюмерная вода Zarkoperfume PINK MOLeCULE 30 мл
                    p.tovar_block--elem-summa 7.390 руб.
                    button Купить  
            .tovar_block
                .tovar_block--elem
                    img(src="img/perfumery_6.png", alt="")
                    p.tovar_block--elem-text Парфюмерная вода Max <br> Philip Beige 50 мл
                    p.tovar_block--elem-summa 11.590 руб.
                    button Купить
            .tovar_block
                .tovar_block--elem
                    img(src="img/perfumery_7.png", alt="")
                    p.tovar_block--elem-text Парфюмерная вода <br> Lacoste Pour Femme 90 мл
                    p.tovar_block--elem-summa 7.970 руб.
                    button Купить          
    .container
        h2 Средства гигиены
        .tovar
            .tovar_block
                .tovar_block--elem
                    img(src="img/popular_products_1.jpg", alt="")
                    p.tovar_block--elem-text Пенка для мытья <br> и ухода за телом Seni Care, 500 мл
                    p.tovar_block--elem-summa 465 руб.
                    button Купить 
            .tovar_block
                .tovar_block--elem
                    img(src="img/hygiene_2.png", alt="")
                    p.tovar_block--elem-text EVA DERMA <br> Крем-маска для ног, 100 мл
                    p.tovar_block--elem-summa 799 руб.
                    button Купить 
            .tovar_block
                .tovar_block--elem
                    img(src="img/hygiene_3.png", alt="")
                    p.tovar_block--elem-text EVA DERMA Интенсивно увлажняющий бальзам для тела, 250 мл
                    p.tovar_block--elem-summa 995 руб.
                    button Купить 
            .tovar_block
                .tovar_block--elem
                    img(src="img/popular_products_2.jpg", alt="")
                    p.tovar_block--elem-text Шампунь для сухих и повреждённых волос <br> с шёлком, 500 мл
                    p.tovar_block--elem-summa 299 руб.
                    button Купить  
            .tovar_block
                .tovar_block--elem
                    img(src="img/hygiene_4.png", alt="")
                    p.tovar_block--elem-text EVA DERMA RED OFF <br> Крем-маска ночной против морщин, 50 мл
                    p.tovar_block--elem-summa 1.440 руб.
                    button Купить 
            .tovar_block
                .tovar_block--elem
                    img(src="img/hygiene_5.png", alt="")
                    p.tovar_block--elem-text Пенка для мытья и ухода за телом <br> Seni Care, 500 мл
                    p.tovar_block--elem-summa 1.250 руб.
                    button Купить 
            .tovar_block
                .tovar_block--elem
                    img(src="img/hygiene_6.png", alt="")
                    p.tovar_block--elem-text Крем для тела моющий <br> Seni Care 3 в 1, 1000 мл.
                    p.tovar_block--elem-summa 989 руб.
                    button Купить 
            .tovar_block
                .tovar_block--elem
                    img(src="img/hygiene_7.png", alt="")
                    p.tovar_block--elem-text Гель для душа eva <br> simply с ежевикой, 500 мл.
                    p.tovar_block--elem-summa 265 руб.
                    button Купить 
    include modules/footer