doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/style3.css")
    body 
        include modules/header
        .container
            .contacts
                h2 Вы можете связаться с нами:
                p 8 (800) 301-03-07 
                p Звонок по России бесплатный
                <br>
                p E-mail: perfumes_and_hygiene_products22@mail.ru
                <br>
                p Режим работы: понедельник-пятница с 8:00 до 18:00 ч.
                <br>
                p 142712, Московская область, Ленинский район, зона придорожного сервиса <br> автодороги «МКАД-аэропорт Домодедово», владение 7, строение 1.
        .map
            script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A23c7b14cc6c706513ebb9d311a51e897a69ff2a95706e46d5a74917f972da6d6&lang=ru_RU&scroll=true')
            
        .container
            .contacts
                h2 Наши реквизиты
                p Юридический адрес: 462578, г. Москва, ул. Сущёвский Вал, 64 
                <br>
                p Фактический адрес:Московская область, Ленинский район, Городское поселение Горки Ленинские, <br> ЗПС автодороги «МКАД - а/п Домодедово», вл.7, стр.1.
                <br>
                p Почтовый адрес:115583, г. Москва, а/я 59
                <br>
                p ИНН / КПП 7721502857/5093358941
                <br>
                p ОГРН 1047796113485
    include modules/footer