doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/style.css")
    body 
        include modules/header
        .banner
            img(src="img/banner.jpg", alt="")
        .partners-container
                .partners-container__element.partners-container__element--elem1
                .partners-container__element.partners-container__element--elem2
                .partners-container__element.partners-container__element--elem3
                .partners-container__element.partners-container__element--elem4
                .partners-container__element.partners-container__element--elem5
                .partners-container__element.partners-container__element--elem6
        .container
            .about
                h2 О нас
                p Компания "Парфюмерия и средства гигиены" предлагает широкий ассортимент товаров для ухода за собой и создания неповторимого образа. Наша компания заботится о красоте и здоровье наших клиентов, предлагая только качественные продукты от ведущих производителей. <br> <br> В ассортименте нашей компании вы найдете широкий выбор парфюмерии, дезодорантов, средств для ухода за кожей и волосами, а также продукты для бережного ухода за телом. Мы стремимся предложить нашим клиентам только самые передовые и инновационные продукты, которые помогут им чувствовать себя уверенно и привлекательно каждый день.
        .container
            h2 Популярные Товары
                a(href="catalog.html") |Смотреть все товары
            .popular-products
                .popular-products_block
                    .popular-products_block--elem
                        img(src="img/popular_products_1.jpg" alt="")
                        p.popular-products_block--elem-text Пенка для мытья и ухода за <br> телом Seni Care, 500 мл
                        p.popular-products_block--elem-summa 465 руб.
                .popular-products_block
                    .popular-products_block--elem
                        img(src="img/popular_products_2.jpg", alt="")
                        p.popular-products_block--elem-text Шампунь для сухих и <br> повреждённых волос с шёлком, 500 мл
                        p.popular-products_block--elem-summa 299 руб.
                .popular-products_block
                    .popular-products_block--elem
                        img(src="img/popular_products_3.jpg", alt="")
                        p.popular-products_block--elem-text Парфюмерная вода Tom <br> Ford Lost Cherry 30 мл
                        p.popular-products_block--elem-summa 17.990 руб.
                .popular-products_block
                    .popular-products_block--elem
                        img(src="img/popular_products_4.jpg", width="250px", alt="")
                        p.popular-products_block--elem-text Парфюмерная вода Chloe Eau De <br> Parfum 50 мл
                        p.popular-products_block--elem-summa 13.890 руб.
        .container
            h2 Акции
            .articles
                div
                    img(src="img/stocks_1.jpg", alt="")
                    p За каждый заказ от 3.000 ₽ мы дарим вам пробники парфюмерии в подарок!
                div
                    img(src="img/stocks_2.jpg", alt="")
                    p Черная Пятница! Скидки до 30%!
                div
                    img(src="img/stocks_3.jpg", alt="")
                    p Каждый день популярные товары со скидкой 15%
        .container
            form(action="")
                h1(title="Форма") Нужна помощь с выбором?
                .group
                    label(for="") Ваше имя:
                    input(placeholder="Представьтесь" type="text")
                .group
                    label(for="") Ваш телефон:
                    input(placeholder="+7(___)____-___-___" type="text")
                .group
                    label(for="") Комментарий
                    input(placeholder="Например, интересующий товар" type="text")
                .group
                    button Отправить
        include modules/footer